html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html {
  background: #f4f5f7;
  color: #222;
}
body {
  margin: 0 auto;
  max-width: 70em;
  padding: 0 1em;
}
@media (min-width: 45em) {
  body {
    padding-left: 2em;
    padding-right: 2em;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
