.product-grid {
  display: grid;
  font-weight: 500;
  grid-gap: 4em 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.product {
  display: grid;
  grid-gap: .5rem 1rem;
  grid-template: 'img img' 'desc price' / 1fr min-content;
  line-height: 1.5rem;
}
.product-description {
  font-size: 110%;
}
.product-price {
  color: #525252;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-description,
.product-price {
  padding: 0 6px;
}

.product-image {
  border: 3px solid #d4d7de;
  border-radius: 5px;
  grid-area: img;
  overflow: hidden;
}
.product-image * {
  vertical-align: middle;
}

.product-image img {
  transition: all .2s ease-out;
}
.product:hover .product-image img {
  transform: scale(1.3);
  transform-origin: center;
}
